@use '../../utils/styles/mixins' as mixins;
@use '../../utils/styles/variables' as vars;

#contactUs {
  @include mixins.viewBackground;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

#contactUs main {
  flex-grow: 1;
}
